{%- comment -%}
This is NOT required section for the Shopify Theme Store.
It will be avaiable from shopify store.

Theme Store required settings:


Theme Store optional settings:

{%- endcomment -%}
<section class="cover collections">
  
    <div class="cover__content">
      <h1>WATCHES</h1>
    </div>
    <div class="cover__image">

      <img src="{{ "collections-banner.jpg" | asset_url  }}" class="img" alt="">

    </div>
     
  
</section>


