{%- comment -%}
This is NOT required section for the Shopify Theme Store.
It will be avaiable from shopify store.

Theme Store required settings:


Theme Store optional settings:

{%- endcomment -%}
<section class="cover front-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="cover-text">
          <h1 class="cover-heading">Select Your New Perfect Style</h1>
          <p class="lead text-muted">Get the lift you want and the balance you need.</p>
          <div class="btn-holder">
            <a href="javascript:void(0);" class="btn btn-primary"> BUY NOW</a>
          </div>          
        </div>
      </div>
      <div class="col">
        <div class="cover-image">
          <img src="{{ 'watch.png' | asset_url }}"  alt="Protein">
        </div>
      </div>
    </div>
  </div>
</section>