<svg width="{{ icon_width }}" height="{{ icon_height }}" fill="#ffffff" viewBox="0 0 462 114" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Untitled</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="Quantify" font-size="100" font-weight="normal" letter-spacing="10">
        <text id="Watch.It" fill-rule="nonzero" fill="{{ icon_color }}">
            <tspan style="font-size: 100px" x="1.6" y="91">Watch.It</tspan>
        </text>
    </g>
</svg>